<!DOCTYPE HTML>
<html>
  <head>
    <title>Troels Henriksen's website | $title$</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, handheld" title="default">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Troels Henriksen's piece of the web, containing programs, information about programming, and a blog.">
    <meta name="keywords" content="Braintwist, Brainfuck, Lisp, Common Lisp Troels Henriksen, Brainfork, Esoteric programming language, programming, Haskell, functional programming">
  </head>
  <body>
    <div id="header">
      <div class="superHeader">
        <div class="left">
        </div>

        <div class="right">
          <span class="doNotDisplay">Related sites:</span>
          <ul>
            <li><a href="/pub/">archive</a></li>
            $topitems$
          </ul>
        </div>

      </div>

      <div class="midHeader">
        <h1 class="headerTitle"><a href="/">SIGKILL <span id="headerSubTitle">-9</span></a></h1>
      </div>

      <div class="subHeader">
        $menu$
      </div>
    </div>

    $body$

    </div>

    <div id="footer">
      <br class="doNotDisplay doNotPrint" />

      <a href="http://jaspervdj.be/hakyll/index.html" id="hakyllLink">Powered by Hakyll</a>

      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-16019904-1");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    </div>
  </body>
</html>
